.mainContacto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding:6rem;
    background-image: url(../fondo.png);
    background-repeat: unset;
    height: 100%;
    width: 100%;
    background-color: rgb(196, 196, 204);
    font-weight: bold;
}
.tituloContacto{
    font-size: 2.2rem;
    text-align: left;
    padding-bottom: 2rem;
}
.form-label{
    font-size: 1.3rem;
}

.mapa{
    width: 100%;
    border-radius: 0.5rem;
}

@media(min-width: 768px){
    .mainContacto{
        flex-direction: row;
    }
    .formulario{
        width: 100%;
        padding: 2rem ;
        border-right: 0.3rem solid rgb(171, 163, 175);
    }

}