*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}